<!DOCTYPE html>
<html>
<head>
  <title>Tom's site</title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="top">
        <header>
            <h1 id="title"><%= link_to 'Tom\'s Site', root_path %></span></h1>
        <div id="user">
        </div>
        </header>
        <nav id="navtop">
            <ul>
                <li>
                    <%= link_to "About me", about_path %>
                </li>
                <br class="mob">
                <li>
                    <%= link_to "TEFL", tefl_links_index_path %>
                </li>
                <br class="mob">
                <li>
                    <%= link_to "Learning", learning_academia_path %>
                    <ul>
                        <li>
                            <%= link_to "Academia", learning_academia_path %>
                        </li>
                        <li>
                            <%= link_to "Computing", learning_computing_path %>
                        </li>
                        <li>
                            <%= link_to "Other achievements", learning_other_path %>
                        </li>
                    </ul><!--Learning-->
                </li>
                <br class="mob">
                <li>
                    <%= link_to "Projects", projects_path %>
                    <ul>
                      <li>
                        <%= link_to "Four letters", projects_fourletters_path %>
                      </li>
                        <li>
                            <a href="http://typhp.herokuapp.com/projects/maths_init.php">Maths</a>
                        </li>
                        <li>
                            <a href="http://typhp.herokuapp.com/projects/calendar.php">Calendar</a>
                        </li>
                        <li>
                            <a href="http://typhp.herokuapp.com/projects/game_of_life_init.php">Conway's Game of Life</a>
                        </li>
                    </ul>
                </li><!--Projects-->
            </ul><!--All items-->
        </nav><!--Navtop-->
    </div><!--Top-->
    <% if flash[:notice] %>
        <div class="glob"> <%= flash[:notice] %> </div>
    <% end %>
    <main>