<!DOCTYPE html>
<html>
<head>
  <title>Tom's site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="top">
        <header id="titlebox">
            <h1 id="title"><%= link_to 'Tom\'s Site', root_path %></span></h1>
        </header>
        <nav id="navtop">
            <ul>
                <li>
                    <%= link_to "About me", about_path %>
                </li>
                <br class="mob">
                <li>
                    <%= link_to "TEFL", tefl_links_index_path %>
                </li>
                <br class="mob">
                <li>
                    <%= link_to "Learning", learning_academia_path %>
                    <ul>
                        <li>
                            <%= link_to "Academia", learning_academia_path %>
                        </li>
                        <li>
                            <%= link_to "Computing", learning_computing_path %>
                        </li>
                        <li>
                            <%= link_to "Other achievements", learning_other_path %>
                        </li>
                    </ul><!--Learning-->
                </li>
                <br class="mob">
                <li>
                    <%= link_to "Projects", projects_path %>
                    <ul>
                      <li>
                        <%= link_to "4 letters", projects_fourletters_path %>
                      </li>
                        <!--<li>
                            <a href="./projects/maths/maths.html" target="iframe">Maths</a>
                        </li>
                        <li>
                            <a href="./projects/calendar/calendar.php" target="iframe">Calendar</a>
                        </li>
                        <li>
                            <a href="./projects/game_of_life/game_of_life.html" target="iframe">Conway's Game of Life</a>
                        </li>-->
                    </ul>
                </li><!--Projects-->
            </ul><!--All items-->
        </nav><!--Navtop-->
    </div><!--Top-->
    <div id="main">