<h1>Useful Sites for English Learners</h1>

<% @link.each do |l| %>
  <div class="blob">
    <h3><%= link_to l.name, l.link %><small> <%= link_to "edit", edit_tefl_link_path(l)%> | <%= link_to "delete" %></small></h3>
    <p><%= link_to "Got to Site", l.link %></p>
    <p><%= l.description %></p>
    <p class="created">Uploaded: <%= l.created_at %></p>
  </div>
<% end %>
<h1>Add a link</h1>
<%= form_for @new, url: {action: "create"}, html: {class: "blob"} do |f| %>
<table>
  <tr><td>Name of link:</td><td><%= f.text_field :name %></td></tr>
  <tr><td>Link address:</td><td><%= f.text_field :link, value: "http://" %></td></tr>
  <tr><td>Description:</td><td><%= f.text_area :description %></td></tr>
</table>
  <%= f.submit "Add link" %>
<% end %>