<!DOCTYPE html>
<html>
  <head>
    <title>Tom's site</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta property="og:site_name" content="Tom's site">
<meta property="og:title" content="Home">
<meta property="og:url" content="http://tomy8s.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:image" content="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/p160x160/13239061_10102022617097918_7430461033153205691_n.jpg?oh=e47e3ba3d26de5b22470493d40b06fe0&oe=57C9E11F">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render partial:"partials/header" %>
    <% flash.each do |c, m| %>
        <%= content_tag(:div, m, class: c) %>
    <% end %>
    <main>
    <%= yield %>
    </main>
    <%= render partial:"partials/footer" %>
  </body>
</html>